<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="{{ '/styles/images/logo.png' | prepend: site.baseurl }}">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a class="glyphicon glyphicon-home" href="{{ '/' | prepend: site.baseurl }}">&nbsp;主页</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-list" href="{{ '/categories/' | prepend: site.baseurl }}">&nbsp;文章分类</a>
        </li>
        <li >
          <a  class="glyphicon glyphicon-tags" href="{{ '/tag' | prepend: site.baseurl }}">&nbsp;标签云</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-book" href="{{ '/books' | prepend: site.baseurl }}">&nbsp;书单</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li>
            <a><span id="busuanzi_container_site_pv">访问量<span id="busuanzi_value_site_pv"></span>次</span></a>
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle glyphicon glyphicon-list-alt" data-toggle="dropdown">&nbsp;其他<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="glyphicon glyphicon-user" rel="nofollow" href="/about">&nbsp;关于作者</a></li>
            <li><a class="glyphicon glyphicon-link" rel="nofollow" href="{{ '/reference' | prepend: site.baseurl }}">&nbsp;推荐博客</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>