---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <div class="col-md-9" role="main">


      <div class="panel docs-content">
          <!-- <div class=row style="margin-bottom: 30px;height: 20px;">
              <span>positon: /home/</span>
              <span><a href="{{ '/categories/' | prepend: site.baseurl }}#{{page.categories}}-ref">{{page.categories}}</a>/</span>
              <span><a href="{{ '/tag/' | prepend: site.baseurl }}#{{page.tag}}-ref">{{page.tag}}</a></span>
          </div> -->
        <div class="wrapper row">
            <header class="post-header">


              <h1 class="post-title">{{ page.title }}</h1>

              <div class="row meta">
                <span class="glyphicon glyphicon-time col-md-3"> {{ page.date | date: "%Y-%m-%d" }}</span>
                <span class="glyphicon glyphicon-pencil col-md-3"> {{ site.author }} </span> 
                <span  class="glyphicon glyphicon-signal col-md-3"> {{ content | strip_html | strip_newlines | split: "" | size }}</span>
              </div>
              <br />
              <div class="tag" style="margin-top:20px;margin-bottom: 50px;">
                  {% if page.tags != empty %}
                    <span class="glyphicon glyphicon-tag"></span>
                    {% for tag in page.tags %}
                      <a class="label label-default">{{ tag }}</a>
                      {% if forloop.last == false %}, {%endif %}
                    {% endfor %}                 
                  {% endif %}
               </div>
               <br/>
            </header>
            <article class="post-content">
              {{ content }}
            </article>
        </div>
      </div>
    </div>
  </div>
</div>
